body{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: url("/young\ happy\ lady.jpg");
    background-size: cover;
    text-align: center;
    transition: filter, .7s;
}

h1{
    font-size: 50px;
    color: rgba(251, 249, 248, 0.984);
    font-family: Impact, Haettenschweiler,
     'Arial Narrow Bold', sans-serif;
     letter-spacing: 4px;
     text-shadow: 2px 2px 4px rgba(0,0,0, .3);
    }
    .btn{
        padding: 10px 20px;
        width: 200px;
        cursor: pointer;
        background-color: orangered;
        border: none;
        border-radius: 5px;
        font-size: 20px;
    }

    .btn:hover{
        filter: brightness(0.8);
    }
    .active.container{
        filter: blur(5px) brightness(.8);
    }
    .popup-container{
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        width: 400px;
        height: 200px;
        top: 30%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(15, 15, 15, 0.3);
        opacity: 1;
        transition:  all, .7s;
    }

    h4{
        font-size: 30px;
        margin: 10px 0;
        font-family: sans-serif;
        color: rgb(217, 145, 50);
    }

    label{
        font-family: sans-serif;
        color:  rgb(217, 145, 50);
    }

    .popup-btn{
        background: orangered;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        border: solid 2px;
    }

    .input{
        border: 2px solid;
        padding: 10px;
        margin: 10px 0;
        font-size: 20px;
        text-align: center;
    }

   .input::placeholder{
    color: lightgray;
   }

   .close-icon{
    position: absolute;
    right: 20px;
    cursor: pointer;
   }
   .close-icon:hover{
    color: orangered;
   }

   .active.popup-container{
    visibility: hidden;
    opacity: 0;
    top: 10%;
   }